@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* {
    font-family: 'NanumSquare', sans-serif;
    margin : 0;
    padding : 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;
}

#registerPage {
    width : 100%;
    /* height : 100%; */
    display: flex;
    flex-direction: row;
    /* border:1px solid; */
}

.leftBlue {
    background-color: #267dff;
    width : 40%;
    /* height : 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.rightWhite {
    background-color: #ffffff;
    width : 60%;
    /* height : 100%; */
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 650px;
}

.rightContents {
    width : 100%
}

#wrap {
    /* max-width: ; */
    margin : 0 15%;
    /* margin-top을 어떻게 줄까2 */
    margin-top : 16vh;
    width : auto;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-width: 650px; */
    
    /* border:1px solid; */
}

#registerTitle {
    width: 100%;
    /* margin-top : 90px; */
    /* margin-top을 어떻게 줄까2 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#welcome {
    display: flex;
    align-items : center;
    justify-content: flex-start;
}

/* font-size : 상대크기? */

#welcome h2 {
    color : #000;
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
}

#registerTitle p {
    color : #bdbdbd;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

#register {
    margin-top : 10vh; 
    /* 100px이었음 */
    display: flex;
    flex-direction: column;
    width: 100%;
}

#register form {
    width : 100%;
}

#name, #email, #password, #confirmPassword{
    width: 100%;
    position: relative;
    display: flex;
    flex: row;
    align-items: center;
    margin-top : 5vh;
}

#nameInput, #emailInput, #passwordInput, #confirmPasswordInput {
    width: 100%;
    /* color : #b0b0b0; */
    font-size: 20px;
    font-weight: 500;
    border: 2.5px solid #E0E0E0;
    border-radius: 5px;
    padding: 20px 60px;
    /* margin-top : 3vh; */
    /* margin-top: 28px; */
}

#nameInput::placeholder, #emailInput::placeholder, #passwordInput::placeholder, #confirmPasswordInput::placeholder {
    color: #BDBDBD;
}

#userIcon, #envelopeIcon, .lockIcon {
    color: #A1A1A1;
    position: absolute;
    left: 23px;
    /* top: 50px; */
}

.eyeSlashIcon {
    color: #A1A1A1;
    position: absolute;
    right: 23px;
    /* top: 53px; */
}

.pwCondition {
    margin-top : 1.5vh;
    /* margin-top : 15px; */
    font-size: 16px;
    font-weight: 400;
    margin-left : 25px;
    color : #828282;
}

#agreement {
    margin-top : 8.5vh;
    margin-left : 2px;
    /* margin-top : 87px; */
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkSentence {
    margin-left : 13px;
    font-size: 16px;
    font-weight: 400;
    color : #828282;
}

#btn2 {
    margin-top : 1.7vh;
}

/* input[type="checkbox"] {
    display: inline-block;
	width: 21px;
	height: 21px;
	border: 2px solid #828282;
    border-radius : 2px;
	cursor: pointer;
} */


#check1, #check2 {
    display: inline-block;
	width: 21px;
	height: 21px;
	border: 2px solid #828282;
    border-radius : 2px;
	cursor: pointer;
}

#signInBtn {
    width: 100%;
    height: 65px;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #267dff;
    border: none;
    border-radius: 31.5px;
    box-shadow: 0px 5px 8px 0 rgba(0,0,0,0.25);
    cursor: pointer;

    padding: 17px auto;
    margin-top: 5vh; 
    margin-bottom: 9vh;
}

.notChecked, .passwordLength {
    color : #eb5757;
    font-size: 16px;
    font-weight: 700;
    visibility: hidden;
    position: absolute;
    margin-left : 25px;
}

