#header {
    float: right;
    width: 83vw ;
    height: 10vh ;
    background-color: #fff;
    position: relative;
}


.searching {
    width: 700px; 
    height: 45px; 
    border:2px solid #BDBDBD;  
    top: 25%; 
    left: 12%; 
    position:absolute; 
    border-radius: 20px;
}

.search_txt {
    float: left;
    position: absolute;
    top: 5px; 
    left: 15px;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: black;
    font-size: 15px;
    line-height: 40px;
    font-weight: 500;
}

.button { 
    width: 50px; 
    height: 45px; 
    background: #fff;
    float: right; 
    right: 0; 
    top: 0; 
    bottom : 0;
    border: none;  border-radius: 20px; 
    display: flex; 
    align-items: center; justify-content: center; 
    cursor: pointer;
    
}


.name_button {
    width: 30px; height: 30px; background: #fff; position: absolute;
    float: right; right: 5%; top: 29%; border: none;  font-size: 16px;
    font-weight: 500;
    cursor: pointer;

}


.profile_img {
    top: 27.5%; right: 8%; position: absolute; cursor: pointer;
}


.bell_img {
    top: 31.4%; right: 12.8%; position: absolute; cursor: pointer;
}


.setup_img {
    top: 31.9%; right: 16.6%; position: absolute; cursor: pointer;
}
