#side_right {
    float: left;
    width: 22vw ;
    height: 60vh ;
    background-color: #fff;
    position: relative;
    /*border-top: 0.01vh solid black; */
}

.team_make {
    float: top; 
    width: 375px; 
    height: 86px; 
    /*top: 3%; position: absolute;*/
    background-color: #fff; 
    border-top:0.1rem solid #E0E0E0; 
    border-bottom:0.1rem solid #E0E0E0; 
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex를 줘서 가운데 정렬로 맞췄습니다. */
}

.team_img {
    position: absolute; 
    /* top: 34%;  */
    left: 11%;
    /* top요소 주석처리 */
}

.teamfolder_text {
    position: absolute; 
    /* top: 13%;  */
    left: 23%;
    padding: 0;
    background: none;  
    border: none; 
    color: #4F4F4F; 
    font-size: 18px; 
    font-weight: 900;
    /* top요소 주석처리 */
}


input.img_button {
    background: url(../../../../public/img/charm_plus.png);
    background-position: center; 
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    position : absolute;
    /* top: 32%; */
    right : 14%;
    /* top요소 주석처리, 크기 24x24로 변경, 배경 가운데 정렬 */
}


.teamfolder_menu {
    float: bottom; 
    width: 375px; 
    height:500px; 
    background-color: #fff; 
    border: none; 
    overflow : auto;
}


.teamfolder_menu div {
    margin:0;
    text-align:center;
    border-bottom: 0.1rem solid #E0E0E0;
    width: 375px;
    height: 13%;
    background-color: #fff;
}


.team_profile {
    position : relative;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    /* flex, align-items를 줘서 가운데 정렬 */
}

.img_yellow {
    position : absolute;
    /* top: 20%;  */
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top요소 주석처리, 원래 img태그에 있던 class를 a태그로 옮김, 가운데 정렬 */
}

.team_text {
    position : absolute; 
    /* top: 30%;  */
    right: 36%; 
    border:none; 
    background-color:#fff; 
    font-size:16px; 
    font-weight: 750; 
    color:#4F4F4F; 
    cursor: pointer;
    /* top요소 주석처리 */
}

.img_teamperson {
    position : absolute; 
    /* top: 28%;  */
    right: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* top요소 주석처리, 원래 img태그에 있던 class를 a태그로 옮김, 가운데 정렬 */
}

.img_folder {
    position : absolute; 
    left: 12%;
    /* 원래 img태그에 있던 class를 a태그로 옮김, 가운데 정렬 */
}

#side_right2 {
    float: left;
    width: 22vw;
    height: 30vh ;
    background-color: #fff;
    position: relative;    
}


.img_pay {
    bottom: 10%; left: 7%; position: absolute; cursor: pointer;

}

.pay_text {
    position: absolute;
    text-align: center;
    bottom: 10%;
    left: 17%;
    padding: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;

}

.pay_person {
    bottom: 31%; right: 5%; position: absolute;
}


.pay_text2 {
    position: absolute;
    bottom: 30%;
    left: 9.5%;
    padding: 0;
    background: none;
    border: none;
    color: #828282;
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    line-height : 5px;
}
