/* @font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 100;
    src: url("styles/fonts/NanumSquareL.ttf") format('ttf'),
    url("styles/fonts/NanumSquareL.otf") format('truetype')
  }
  
  @font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: regular;
    src: url("styles/fonts/NanumSquareR.ttf") format('ttf'),
    url("styles/fonts/NanumSquareR.otf") format('truetype')
  }
  
  
  @font-face {
    font-family: 'NanumSquare';
    font-style: normal;
    font-weight: 700;
    src: url("styles/fonts/NanumSquareB.ttf") format('ttf'),
    url("styles/fonts/NanumSquareB.otf") format('truetype')
  }
  
  @font-face {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 800;
    src: url("styles/fonts/NanumSquareEB.ttf") format('ttf'),
    url("styles/fonts/NanumSquareEB.otf") format('truetype')
  } */